@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
    
    min-height: 100vh;
}

.row {
    padding: 60px 0;
}

.card {
    border: none;
    background: #ffffff;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.card .card-body img {
    height: 120px;
}